@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  transition: all 1s ease-in-out;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: var(--font-headings);
  font-weight: 400;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-fadein {
  animation: fadeIn 0.3s ease-out;
}

.animate-fadeout {
  animation: fadeOut 0.3s ease-out;
}

[data-color-palette='flexoki-light'] {
  --background: rgb(255, 252, 240);
  --foreground: rgb(16, 15, 15);
  --muted: rgb(242, 240, 229);
  --muted-foreground: rgb(111, 110, 105);
}

[data-color-palette='flexoki-dark'] {
  --background: rgb(16, 15, 15);
  --foreground: rgb(206, 205, 195);
  --muted: rgb(28, 27, 26);
  --muted-foreground: rgb(87, 86, 83);
}

[data-color-palette='tokyo-night'] {
  --background: hsl(220 13% 13%);
  --foreground: hsl(210 40% 98%);
  --muted: hsl(220 13% 13%);
  --muted-foreground: hsl(210 40% 98%);
}

[data-color-palette='rose-pine-dawn'] {
  --background: #faf4ed;
  --foreground: #575279;
  --muted: #fffaf3;
  --muted-foreground: #797593;
}

[data-color-palette='rose-pine-dusk'] {
  --background: #191724;
  --foreground: #e0def4;
  --muted: #1f1d2e;
  --muted-foreground: #908caa;
}

[data-color-palette='rose-pine-moon'] {
  --background: #232136;
  --foreground: #e0def4;
  --muted: #2a273f;
  --muted-foreground: #908caa;
}

/* https://modernfontstacks.com/ */
[data-headings='System UI'] {
  --font-headings: system-ui, sans-serif;
}

[data-body='System UI'] {
  --font-body: system-ui, sans-serif;
}

[data-headings='Charter'] {
  --font-headings: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

[data-body='Charter'] {
  --font-body: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

[data-headings='Old Style'] {
  --font-headings: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L',
    P052, serif;
}

[data-body='Old Style'] {
  --font-body: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052,
    serif;
}

[data-headings='Humanist'] {
  --font-headings: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
    source-sans-pro, sans-serif;
}

[data-body='Humanist'] {
  --font-body: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
    source-sans-pro, sans-serif;
}

[data-headings='Geometric Humanist'] {
  --font-headings: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
}

[data-body='Geometric Humanist'] {
  --font-body: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
}

[data-headings='Classical Humanist'] {
  --font-headings: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

[data-body='Classical Humanist'] {
  --font-body: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

[data-headings='Neo Grotesque'] {
  --font-headings: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
}

[data-body='Neo Grotesque'] {
  --font-body: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
}

[data-headings='Monospace Slab'] {
  --font-headings: 'Nimbus Mono PS', 'Courier New', monospace;
}

[data-body='Monospace Slab'] {
  --font-body: 'Nimbus Mono PS', 'Courier New', monospace;
}

[data-headings='Monospace Code'] {
  --font-headings: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
    Consolas, 'DejaVu Sans Mono', monospace;
}

[data-body='Monospace Code'] {
  --font-body: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
}

[data-headings='Industrial'] {
  --font-headings: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

[data-body='Industrial'] {
  --font-body: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

[data-headings='Rounded Sans'] {
  --font-headings: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa,
    Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
    source-sans-pro, sans-serif;
}

[data-body='Rounded Sans'] {
  --font-body: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa,
    Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
    source-sans-pro, sans-serif;
}

[data-headings='Slab Serif'] {
  --font-headings: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif',
    'Sitka Small', serif;
}

[data-body='Slab Serif'] {
  --font-body: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif',
    'Sitka Small', serif;
}

[data-headings='Antique'] {
  --font-headings: Superclarendon, 'Bookman Old Style', 'URW Bookman',
    'URW Bookman L', 'Georgia Pro', Georgia, serif;
}

[data-body='Antique'] {
  --font-body: Superclarendon, 'Bookman Old Style', 'URW Bookman',
    'URW Bookman L', 'Georgia Pro', Georgia, serif;
}

[data-headings='Didone'] {
  --font-headings: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L',
    P052, Sylfaen, serif;
}

[data-body='Didone'] {
  --font-body: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052,
    Sylfaen, serif;
}

[data-headings='Handwritten'] {
  --font-headings: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual,
    cursive;
}

[data-body='Handwritten'] {
  --font-body: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual,
    cursive;
}

:root {
  /* Use Flexoki Light as the default color palette */
  --background: rgb(255, 252, 240);
  --foreground: rgb(16, 15, 15);
  --muted: rgb(242, 240, 229);
  --muted-foreground: rgb(111, 110, 105);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 96.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 89.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;

  --font-headings: system-ui, sans-serif;
  --font-body: system-ui, sans-serif;
}

[data-color-palette='light'] {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 96.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 89.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(198, 15%, 77%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
}

[data-color-palette='dark'] {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.prose {
  --tw-prose-quotes: var(--foreground);
  --tw-prose-bold: var(--foreground);
  --tw-prose-a: var(--muted-foreground);
  --tw-prose-body: var(--foreground);
  --tw-prose-headings: var(--foreground);
  --tw-prose-lead: var(--muted-foreground);
  --tw-prose-links: var(--foreground);
  --tw-prose-counters: var(--muted-foreground);
  --tw-prose-bullets: var(--muted-foreground);
  --tw-prose-hr: var(--muted-foreground);
  --tw-prose-quote-borders: var(--muted-foreground);
  --tw-prose-captions: var(--muted-foreground);
  --tw-prose-code: var(--foreground);
  --tw-prose-pre-code: var(--muted-foreground);
  --tw-prose-pre-bg: var(--muted);
  --tw-prose-th-borders: var(--muted-foreground);
  --tw-prose-td-borders: var(--muted-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
